/*IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');


:root{
    --fonts-family: 'Plus Jakarta Sans', sans-serif;
    --color-primary-text: #737373;
    --color-titles-text: #212529;
    --color-titles-text-secundary: #ff0d51;
    --color-border-inputs: #CED4DA;
    --color-border-inputs-focus: #CED2F9;

    --color-hover-nav: rgba(0, 0, 0, 0.9);
    --color-links: #1e30f3;
    --color-text:#6c757d;
    --color-background-div: #F8F9FA;
    --color-background-secundary-div: #343A40;
    --color-background-buttons: #6A76F5;
    --color-background-buttons-hover: #4654f3;

    --bs-black: #000;
   
    --bs-link-color: #1e30f3;
    --bs-link-hover-color: #1826c2;
    --background-gradient: linear-gradient(135deg, #1e30f3 0%, #ff0d51 100%);
    
    
}  
 


body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: var(--fonts-family);
    display: flex;
    flex-direction: column;
    align-items: center;
}









/*STYLES FOR THE NAV*/
h1, p, ul, li, a {
    margin: 0;
    padding: 0;
  }
   
  nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  .container-nav{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    list-style: none;
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  li {
    margin-left: 20px;
  }

  #textNav {
    font-size: 25px;
    text-decoration: none;
    color: var(--color-links);
    font-weight: bold;
    cursor: pointer;
  }
  #a {
    text-decoration: none;
    color: var(--color-primary-text);
    font-weight: 700;
  }
  
  #a:hover {
    color: var(--color-hover-nav);
  }
  
  #nav-container{
    width: 100%;
    margin: 0;
    padding: 0;
  }


  /*SECTION HOME*/
  /*SECTION PROFILE*/
  .profile{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .profile .container-info{
    width: 65%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
      /*SECTION LEFT DIV*/
  .profile .container-info .left-div {
    width: 40%;
    height: auto;
    justify-content: left;
  }
  .left-div .skills{
    width: 290px;
    background: var(--background-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  .left-div .text-help{
    font-size: 1.75rem;
    color: var(--color-primary-text);
    font-weight: 200;
  }
  .left-div .h1-gradient{
    margin: 0;
    padding: 0;
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .left-div .h1-gradient > span {
    background: var(--background-gradient);
    -webkit-background-clip: text; /* For WebKit-based browsers (Chrome, Safari) */
    background-clip: text;
    color: transparent;
  }

  .left-div .buttons button {
    font-size: 16px;
    padding: 16px 48px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    font-weight: bold;
  }
  .left-div .buttons #resume{
    color: white;
    background: var(--bs-link-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin: 0px 16px 0px 0px;
  }
  .left-div .buttons #resume:hover{
    color: white;
    background: var(--bs-link-hover-color);
  }
  
  .left-div .buttons #projects{
    color: var(--bs-dark);
    background: transparent;
    border: 1px solid var(--bs-black);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin: 0px 16px 0px 0px;
  }
  .left-div .buttons #projects:hover{
    background: var(--bs-black);
    color: white;
  }


  /*SECTION RIGTH DIV*/
  .profile .container-info .rigth-div{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: right;
    
  }
  .rigth-div .container-image{
      
    position: relative;
  }
  .rigth-div .container-image .gradient-image{
    position: relative;
    width: 35vw;
    height: 32vw;
    background: linear-gradient(135deg, #1e30f3 0%, #ff0d51 100%);
    border-radius: 5vw;
  }
  .rigth-div .container-image img{
    height: 45rem;
    position: absolute;
    bottom: 0;
    transform: translateX(15%);
}





  /*SECTION STYLES FOR THE ICON-SCROLL-CONTAINER*/
#scroll-container{
  position: fixed;
  z-index: 999;
  bottom: 65px;
  right: 50%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.scroll-hidden {
  display: none;
}

.container {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;  
  
}

.chevron {
  position: absolute;
  width: 30px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: var(--background-gradient);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}


/*SECTION ABOUT-ME*/
.aboutMe{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-div);
}
.aboutMe .containerText{
  height: auto;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6rem 0rem 6rem 0rem;
}
.aboutMe .containerText .texInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.aboutMe .containerText .texInfo h2 > span{
    background: var(--background-gradient);
    -webkit-background-clip: text; /* For WebKit-based browsers (Chrome, Safari) */
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}
.aboutMe .containerText .texInfo .pOne{
  font-size: 1.25rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
  color: var(--color-text);
}
.aboutMe .containerText .texInfo .pTwo{
  width: 80%;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-text);
}
.aboutMe .containerText .iconSocials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}
.aboutMe .containerText .iconSocials > a{
  text-decoration: none;
}
.aboutMe .containerText .iconSocials a > i{
  font-size: 2rem;
  background: var(--background-gradient);
  -webkit-background-clip: text; /* Para aplicar el gradiente al texto en navegadores webkit (Chrome, Safari, etc.) */
  color: transparent;
}








/*SECTION RESUME*/
.containerResume{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-background-div);
}
.containerResume .resume{
  width: 65%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0rem 3rem 0rem;
}

.containerResume .resume h2 > span{
  background: var(--background-gradient);
    -webkit-background-clip: text; /* For WebKit-based browsers (Chrome, Safari) */
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}
.containerResume .resume .experience{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
}
.containerResume .resume .experience .tittle{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.containerResume .resume .experience .tittle .cv{
  width: auto;
  height: 50px;
  background-color: var(--bs-link-color); 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.1s all ease-in-out;
}
.containerResume .resume .experience .tittle > h2{
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: var(--bs-link-color);
}
.containerResume .resume .experience .tittle .cv:hover{
  background-color: var(--bs-link-hover-color); 
}
.containerResume .resume .experience .tittle .cv > a{
  color: white;
  text-decoration: none;
  padding: 10px;
}
.containerResume .resume .experience .card{
  width: 56%;
  height: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 1rem;
  padding: 3rem;
  gap: 2rem;
  background-color: white;
}

.containerResume .resume .experience .card .date{
  width: 25%;
  height: auto;
  background-color: var(--color-background-div);
  padding: 15px;
  border-radius: 1rem;
}
.containerResume .resume .experience .card .date > h2{
  color: var(--bs-link-color);
  font-size: 16px;
  margin-bottom: 10px;
  margin: 0;
}
.containerResume .resume .experience .card .date > .h3One{
  color: var(--bs-black);
  font-size: 14px;
  margin: 10px 0px;
}
.containerResume .resume .experience .card .date > h3{
  color: var(--color-primary-text);
  font-size: 12px;
  margin-bottom: 5px;
  margin: 0px;
}
.containerResume .resume .experience .card .description{
  width: 70%;
  height: auto;
}
.containerResume .resume .experience .card .description > p {
  color: var(--bs-black);
}


/*education*/
.containerResume .resume .education{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
}
.containerResume .resume .education .tittle{
  width: 64%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.containerResume .resume .education .tittle > h2{
  font-size: 2rem;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  color: var(--color-titles-text-secundary);
}
.containerResume .resume .education .card{
  width: 56%;
  height: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 1rem;
  padding: 3rem;
  gap: 2rem;
  background-color: white;
}
.containerResume .resume .education .card .date{
  width: 25%;
  height: auto;
  background-color: var(--color-background-div);
  padding: 15px;
  border-radius: 1rem;
}
.containerResume .resume .education .card .date > h2{
  color: var(--color-titles-text-secundary);
  font-size: 16px;
  margin-bottom: 10px;
  margin: 0;
}
.containerResume .resume .education .card .date > .h3One{
  color: var(--bs-black);
  font-size: 14px;
  margin: 10px 0px;
}
.containerResume .resume .education .card .date > h3{
  color: var(--color-primary-text);
  font-size: 12px;
  margin-bottom: 5px;
  margin: 0px;
}
.containerResume .resume .education .card .description{
  width: 70%;
  height: auto;
}
.containerResume .resume .education .card .description > p {
  color: var(--bs-black);
}


/*skills*/
.containerResume .resume .skill{
  width: 56%;
  height: auto;
  background-color: white;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 3rem;
}
.containerResume .resume .skill .title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.containerResume .resume .skill .title .i {
  width: 50px;
  height: 50px;
  background-color: #1826c2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--background-gradient);
}
.containerResume .resume .skill .title .i > i{
  color: white;
  font-size: 20px;
}
.containerResume .resume .skill .title h2 > span{
  background: var(--background-gradient);
    -webkit-background-clip: text; /* For WebKit-based browsers (Chrome, Safari) */
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
}
.containerResume .resume .skill .section-skills{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}
.containerResume .resume .skill .section-skills .item{
  width: calc(33.33% - 10px);
  height: 50px;
  margin-bottom: 10px;
  background-color: var(--color-background-div);
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}






.containerResume .resume .skill .title-lenguages{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 2rem;
}
.containerResume .resume .skill .title-lenguages .i {
  width: 50px;
  height: 50px;
  background-color: #1826c2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--background-gradient);
}
.containerResume .resume .skill .title-lenguages .i > i{
  color: white;
  font-size: 20px;
}
.containerResume .resume .skill .title-lenguages h2 > span{
  background: var(--background-gradient);
    -webkit-background-clip: text; /* For WebKit-based browsers (Chrome, Safari) */
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
}
.containerResume .resume .skill .section-skills-lenguages{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}
.containerResume .resume .skill .section-skills-lenguages .item{
  width: calc(33.33% - 10px);
  height: 50px;
  margin-bottom: 10px;
  background-color: var(--color-background-div);
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}





/*SECTION PROJECTS*/
.containerProjects{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-div);
  flex-direction: column;
}
.containerProjects .containerItemsProjects{
  width: 65%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0rem 3rem 0rem;
}
.containerItemsProjects h2 > span{
  background: var(--background-gradient);
    -webkit-background-clip: text; /* For WebKit-based browsers (Chrome, Safari) */
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}

.containerItemsProjects .cardsProject{
  width: 60%;
  height: auto;
  border-radius: 15px;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.containerItemsProjects .cardsProject .cardText{
  width: 55%;
  padding: 3rem;
}
.containerItemsProjects .cardsProject .cardImage{
  width: 45%;
  height: 390px;
  background-color: var(--color-background-secundary-div);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerItemsProjects .cardsProject .cardImage p{
  font-size: 2rem;
  color: var(--color-text);
}

.containerProjects .letGo{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-gradient);
}
.containerProjects .letGo .text{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0rem 3rem 0rem;
}
.containerProjects .letGo .text > h2{
  font-size: 3rem;
  color: white;
  font-weight: 800;
}
.containerProjects .letGo .text a > button{
  font-size: 16px;
  padding: 16px 48px;
  border-radius: 5px;
  border-color: white;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 3rem;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.containerProjects .letGo .text a > button:hover{
  background-color: white;
  color: var(--bs-black);
}






/*SECTION PAGE CONTACT*/
.containerContact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 2rem 0rem;
}

.containerContact .containerForm{
  width: 65%;
  height: auto;
  background-color: var(--color-background-div);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerContact .containerForm .iconEmail{
  width: 3rem;
  height: 3rem;
  background: var(--background-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.containerContact .containerForm .textForm { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.containerContact .containerForm .textForm .iconEmail > i{
  font-size: 1.5rem;
  color: white;
}
.containerContact .containerForm .textForm > h1{
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--color-titles-text);
  margin-bottom: 1rem;
}
.containerContact .containerForm .textForm > p{
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-primary-text);
}

.containerContact .containerForm form{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.containerContact .containerForm form > input{
  width: 65%;
  height: 50px;
  border-radius: 6px;
  border: 1px solid var(--color-border-inputs);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  transition: border 0.1s ease;
  padding-left: 10px;
  font-family: var(--fonts-family);
}
.containerContact .containerForm form > input::placeholder{
  color: var(--color-primary-text); 
}
.containerContact .containerForm form > input:focus{
  border: 5px solid var(--color-border-inputs-focus);
}
.containerContact .containerForm form > textarea{
  max-width: 65%;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--color-border-inputs);
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 2rem;
  transition: border 0.1s ease;
}
.containerContact .containerForm form > textarea::placeholder{
  color: var(--color-primary-text); 
  font-family: var(--fonts-family);
  font-size: 12px;

}
.containerContact .containerForm form > textarea:focus{
  border: 5px solid var(--color-border-inputs-focus);
}

.containerContact .containerForm form > button{
  margin: 0;
  padding: 0;
  max-width: 66%;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--color-background-buttons);
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}
.containerContact .containerForm form > button:hover{
  background-color: var(--color-background-buttons-hover);
}


/* FOOTER */

footer{
  width: 100%;
  height: 50px;
  font-size: 0.9rem;
  color: var(--bs-dark);
  font-family: var(--fonts-family);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .containerFooter{
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#sectionFooter{
  width: 100%;
  margin: 0;
  padding: 0;
}




/*==========RESPONSIVE===========*/

/* STYLES MOBILE */
@media only screen and (max-width: 767px) {
  body{
    width: 100%;
  }


  /*========NAVBAR========*/
  #nav-container{
    width: 100%;
  }
  .container-nav{
    display: flex;
    flex-direction: column;
  }
  ul{
    margin-top: 10px;
  }
  #textNav{
    font-size: 18px;
  }
  #a{
    font-weight: 500;
    font-size: 15px;
  }
  /*========END-NAVBAR========*/


  /*========HOME========*/
  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .profile .container-info{
    width: 90%;
    flex-direction: column-reverse;
  }

  .profile .container-info .rigth-div{
    width: 90%;
    justify-content: center;
    margin-top: 4rem;
  }
  .rigth-div .container-image .gradient-image{
    width: 70vw;
    height: 70vw;
  }
  .rigth-div .container-image img{
    height: 20rem;
    transform: translateX(10%);
  }

  .profile .container-info .left-div{
    width: 90%;
  }

  .left-div .skills{
    margin-bottom: 0.5rem;
  }

  .left-div .text-help{
    text-align: center;
    font-size: 1.3rem;
  }
  .left-div .h1-gradient{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .left-div .buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .left-div .buttons button{
    font-size: 15px;
    padding: 16px;
  }
  .left-div .buttons #projects{
    margin: 0;
  }
  #scroll-container{
    display: none;
  }


  .aboutMe .containerText{
    width: 90%;
  }
  .aboutMe .containerText .texInfo h2 > span{
    font-size: 2rem;
  }
  .aboutMe .containerText .texInfo .pOne{
    font-size: 1.2rem;
  }
  .aboutMe .containerText .texInfo .pTwo{
    width: 100%;
    font-size: 0.8rem;
  }
  /*========END-HOME========*/



  /*========RESUME========*/
  .containerResume .resume{
    width: 90%;
  }
  .containerResume .resume .experience .tittle{
    width: 100%;
    justify-content: space-between;
  }
  .containerResume .resume .experience .tittle > h2{
    font-size: 1.2rem;
  }
  .containerResume .resume .experience .tittle .cv > a{
    padding: 5px;
    font-size: 12px;
  }
  .containerResume .resume .experience .card{
    max-width: 70%;
    width: 100%;
    flex-direction: column;
  }
  .containerResume .resume .experience .card .date{
    width: 100%;
    text-align: center;
  }
  .containerResume .resume .experience .card .description{
    width: 100%;

  }
  .containerResume .resume .experience .card .description > p {
    font-size: 13px;
    text-align: center;
    color: var(--color-primary-text);
  }

  .containerResume .resume .education .tittle{
    width: 100%;
    text-align: center;
  }
  .containerResume .resume .education .tittle > h2{
    font-size: 1.2rem;
  }
  .containerResume .resume .education .card{
    width: 70%;
    flex-direction: column;
  }
  .containerResume .resume .education .card .date{
    width: 100%;
    text-align: center;
  }
  .containerResume .resume .education .card .description{
    width: 100%;
  }
  .containerResume .resume .education .card .description > p {
    font-size: 13px;
    text-align: center;
    color: var(--color-primary-text);
  }
  .containerResume .resume .skill{
    max-width: 70%;
    width: 100%;
  }
  .containerResume .resume .skill .title h2 > span{
    font-size: 1.2rem;
  }
  .containerResume .resume .skill .section-skills .item{
    width: calc(100% - 10px);
  }
  .containerResume .resume .skill .title-lenguages h2 > span{
    font-size: 1.2rem;
  }
  .containerResume .resume .skill .section-skills-lenguages .item{
    width: calc(50% - 10px);
  }
  /*========END-RESUME========*/





  /*========PROJECTS========*/
  .containerProjects .containerItemsProjects{
    width: 90%;
  }
  .containerItemsProjects .cardsProject{
    width: 100%;
    flex-direction: column-reverse;
  }
  .containerItemsProjects .cardsProject .cardText{
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
  .containerItemsProjects .cardsProject .cardImage{
    width: 100%;
    height: 300px;
  }
  .containerProjects .letGo .text{
    width: 90%;
    text-align: center;
  }
  .containerProjects .letGo .text > h2{
    font-size: 2rem;
  }
  .containerProjects .letGo .text a > button{
    padding: 16px 30px;
  }
  /*========END-PROJECTS========*/





  /*========CONTACT========*/
  .containerContact .containerForm{
    width: 90%;
  }
  .containerContact .containerForm .iconEmail{
    width: 3.5rem;
    height: 3.5rem;
  }
  .containerContact .containerForm .textForm .iconEmail > i{
    font-size: 1.9rem;
  }
  .containerContact .containerForm .textForm > h1{
    font-size: 2.6rem;
  }
  .containerContact .containerForm form{
    width: 100%;
  }
  .containerContact .containerForm form > input{
    width: 80%;
  }
  .containerContact .containerForm form > textarea{
    max-width: 80%;
    width: 100%;
  }
  .containerContact .containerForm form > button{
    max-width: 80%;
    width: 100%;
  }
  /*========END-CONTACT========*/





  /*========FOOTER========*/
  footer{
    width: 100%;
    font-size: 0.7rem;
  }
  footer .containerFooter{
    width: 80%;
  }
  /*========END-FOOTER========*/
}



/* STYLES TABLETS */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
 /*========NAVBAR========*/
 #nav-container{
  width: 100%;
  justify-content: space-between;
  }
  .container-nav{
    width: 90%;
    display: flex;
  }
  ul{
    margin-top: 10px;
  }
  #textNav{
    font-size: 18px;
  }
  #a{
    font-weight: 500;
    font-size: 15px;
  }
  /*========END-NAVBAR========*/

  
  /*========HOME========*/
  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .profile .container-info{
    width: 90%;
    flex-direction: column-reverse;
  }

  .profile .container-info .rigth-div{
    width: 90%;
    justify-content: center;
    margin-top: 12rem;
  }
  .rigth-div .container-image .gradient-image{
    
    width: 70vw;
    height: 60vw;
  }
  .rigth-div .container-image img{
    height: 40rem;
    transform: translateX(17%);
  }

  .profile .container-info .left-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  
  }

  .left-div .skills{
    margin-bottom: 1rem;
  }

  .left-div .text-help{
    text-align: center;
    font-size: 1.8rem;
  }
  .left-div .h1-gradient{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .left-div .buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  .left-div .buttons button{
    font-size: 18px;
    padding: 16px 48px;
    
  }
  .left-div .buttons #projects{
    margin: 0;
  }

  .aboutMe .containerText{
    width: 90%;
  }
  .aboutMe .containerText .texInfo h2 > span{
    font-size: 3rem;
  }
  .aboutMe .containerText .texInfo .pOne{
    font-size: 1.2rem;
  }
  .aboutMe .containerText .texInfo .pTwo{
    width: 100%;
    font-size: 1rem;
  }
  /*========END-HOME========*/






  /*========RESUME========*/
  .containerResume .resume{
    width: 90%;
  }
  .containerResume .resume .experience .tittle{
    width: 100%;
    justify-content: space-between;
  }
  .containerResume .resume .experience .tittle > h2{
    font-size: 2rem;
  }
  .containerResume .resume .experience .tittle .cv > a{
    padding: 5px;
    font-size: 16px;
  }
  .containerResume .resume .experience .card{
    max-width: 90%;
    width: 100%;
    flex-direction: row;
  }
  .containerResume .resume .experience .card .date{
    width: 100%;
    text-align: center;
  }
  .containerResume .resume .experience .card .description{
    width: 100%;

  }
  .containerResume .resume .experience .card .description > p {
    font-size: 14px;
    text-align: center;
    color: var(--color-primary-text);
  }

  .containerResume .resume .education .tittle{
    width: 100%;
    text-align: center;
  }
  .containerResume .resume .education .tittle > h2{
    font-size: 2rem;
  }
  .containerResume .resume .education .card{
    max-width: 90%;
    width: 100%;
    flex-direction: row;
  }
  .containerResume .resume .education .card .date{
    width: 100%;
    text-align: center;
  }
  .containerResume .resume .education .card .description{
    width: 100%;
  }
  .containerResume .resume .education .card .description > p {
    font-size: 14px;
    text-align: center;
    color: var(--color-primary-text);
  }

  .containerResume .resume .skill{
    max-width: 90%;
    width: 100%;
  }
  .containerResume .resume .skill .title h2 > span{
    font-size: 1.2rem;
  }
  .containerResume .resume .skill .section-skills .item{
    width: calc(33% - 10px);
  }
  .containerResume .resume .skill .title-lenguages h2 > span{
    font-size: 1.2rem;
  }
  .containerResume .resume .skill .section-skills-lenguages .item{
    width: calc(33% - 10px);
  }
  /*========END-RESUME========*/







    /*========PROJECTS========*/
    .containerProjects .containerItemsProjects{
      width: 90%;
    }
    .containerItemsProjects .cardsProject{
      width: 100%;
      flex-direction: row;
    }
    .containerItemsProjects .cardsProject .cardText{
      width: 90%;
      padding: 1rem;
      
    }
    .containerItemsProjects .cardsProject .cardImage{
      width: 100%;
      height: 300px;
    }
    .containerProjects .letGo .text{
      width: 90%;
      text-align: center;
    }
    .containerProjects .letGo .text > h2{
      font-size: 2.7rem;
    }
    .containerProjects .letGo .text a > button{
      padding: 16px 40px;
      font-size: 20px;
    }
    /*========END-PROJECTS========*/
  




    /*========CONTACT========*/
    .containerContact{
      margin: 6rem 0rem 6rem 0rem;
    }
    .containerContact .containerForm{
      width: 90%;
    }
    .containerContact .containerForm .iconEmail{
      width: 3.5rem;
      height: 3.5rem;
    }
    .containerContact .containerForm .textForm .iconEmail > i{
      font-size: 1.9rem;
    }
    .containerContact .containerForm .textForm > h1{
      font-size: 2.6rem;
    }
    .containerContact .containerForm form{
      width: 100%;
    }
    .containerContact .containerForm form > input{
      width: 80%;
    }
    .containerContact .containerForm form > textarea{
      max-width: 80%;
      width: 100%;
    }
    .containerContact .containerForm form > button{
      max-width: 80%;
      width: 100%;
    }
    /*========END-CONTACT========*/


      /*========FOOTER========*/
    footer{
      margin-top: 3.5rem;
      width: 100%;
      font-size: 1rem;
    }
    footer .containerFooter{
      width: 90%;
    }
    /*========END-FOOTER========*/
}


/* STYLES LAPTOP*/
@media only screen and (min-width: 1024px) and (max-width: 2000px) {
  .rigth-div .container-image .gradient-image{
    width: 32vw;
    height: 30vw;
    margin-top: 5rem;
  }
  .rigth-div .container-image img{
    height: 40rem;
    transform: translateX(7%);
  }
  
}

/* LARGE SCREEN */
@media only screen and (min-width: 2001px) and (max-width: 2500px){
  .rigth-div .container-image .gradient-image{
    position: relative;
    width: 35vw;
    height: 32vw;
    border-radius: 5vw;
  }
  .rigth-div .container-image img{
    height: 48rem;
    transform: translateX(7%);
}
}

