/*IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');


:root{
    --fonts-family: 'Plus Jakarta Sans', sans-serif;
    --color-primary-text: #737373;
    --color-titles-text: #212529;

    --color-hover-nav: rgba(0, 0, 0, 0.9);
    --color-links: #1e30f3;
    --color-text:#6c757d;
    --color-background-div: #F8F9FA;
    --color-background-secundary-div: #343A40;

    --bs-black: #000;
   
    --bs-link-color: #1e30f3;
    --bs-link-hover-color: #1826c2;
    --background-gradient: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    
    
}  
 


body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: var(--fonts-family);
    display: flex;
    flex-direction: column;
    align-items: center;
}









/*STYLES FOR THE NAV*/
h1, p, ul, li, a {
    margin: 0;
    padding: 0;
  }
   
  nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  .container-nav{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    list-style: none;
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  li {
    margin-left: 20px;
  }

  #textNav {
    font-size: 25px;
    text-decoration: none;
    color: var(--color-links);
    font-weight: bold;
    cursor: pointer;
  }
  #a {
    text-decoration: none;
    color: var(--color-primary-text);
    font-weight: 700;
  }
  
  #a:hover {
    color: var(--color-hover-nav);
  }
  
  #nav-container{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /*SECTION PROFILE*/
  .profile{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .profile .container-info{
    width: 65%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
      /*SECTION LEFT DIV*/
  .profile .container-info .left-div {
    width: 40%;
    height: auto;
    justify-content: left;
  }
  .left-div .skills{
    width: 290px;
    background: var(--background-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    text-transform: uppercase !important;
    margin-bottom: 1.5rem !important;
  }
  .left-div .text-help{
    font-size: 1.75rem;
    color: var(--color-primary-text);
    font-weight: 200;
  }
  .left-div .h1-gradient{
    margin: 0;
    padding: 0;
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .left-div .h1-gradient > span {
    background: var(--background-gradient);
    -webkit-background-clip: text; /* For WebKit-based browsers (Chrome, Safari) */
    background-clip: text;
    color: transparent;
  }

  .left-div .buttons button {
    font-size: 16px;
    padding: 16px 48px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    font-weight: bold;
  }
  .left-div .buttons #resume{
    color: white;
    background: var(--bs-link-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin: 0px 16px 0px 0px;
  }
  .left-div .buttons #resume:hover{
    color: white;
    background: var(--bs-link-hover-color);
  }
  
  .left-div .buttons #projects{
    color: var(--bs-dark);
    background: transparent;
    border: 1px solid var(--bs-black);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin: 0px 16px 0px 0px;
  }
  .left-div .buttons #projects:hover{
    background: var(--bs-black);
    color: white;
  }


  /*SECTION RIGTH DIV*/
  .profile .container-info .rigth-div{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: right;
    
  }
  .rigth-div .container-image{
      
    position: relative;
  }
  .rigth-div .container-image .gradient-image{
    position: relative;
    width: 35vw;
    height: 32vw;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    border-radius: 5vw;
  }
  .rigth-div .container-image img{
    height: 45rem;
    position: absolute;
    bottom: 0;
    transform: translateX(20%);
}





  /*SECTION STYLES FOR THE ICON-SCROLL-CONTAINER*/
#scroll-container{
  position: fixed;
  z-index: 999;
  bottom: 65px;
  right: 50%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.scroll-hidden {
  display: none;
}

.container {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;  
  
}

.chevron {
  position: absolute;
  width: 30px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: var(--background-gradient);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}


/*SECTION ABOUT-ME*/
.aboutMe{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-div);
}
.aboutMe .containerText{
  height: auto;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6rem 0rem 6rem 0rem;
}
.aboutMe .containerText .texInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.aboutMe .containerText .texInfo h2 > span{
    background: var(--background-gradient);
    -webkit-background-clip: text; /* For WebKit-based browsers (Chrome, Safari) */
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}
.aboutMe .containerText .texInfo .pOne{
  font-size: 1.25rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
  color: var(--color-text);
}
.aboutMe .containerText .texInfo .pTwo{
  width: 80%;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-text);
}
.aboutMe .containerText .iconSocials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}
.aboutMe .containerText .iconSocials > a{
  text-decoration: none;
}
.aboutMe .containerText .iconSocials a > i{
  font-size: 2rem;
  background: var(--background-gradient);
  -webkit-background-clip: text; /* Para aplicar el gradiente al texto en navegadores webkit (Chrome, Safari, etc.) */
  color: transparent;
}





/*SECTION PROJECTS*/
.containerProjects{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-div);
  flex-direction: column;
}
.containerProjects .containerItemsProjects{
  width: 65%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0rem 3rem 0rem;
}
.containerItemsProjects h2 > span{
  background: var(--background-gradient);
    -webkit-background-clip: text; /* For WebKit-based browsers (Chrome, Safari) */
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}

.containerItemsProjects .cardsProject{
  width: 60%;
  height: auto;
  border-radius: 15px;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.containerItemsProjects .cardsProject .cardText{
  width: 55%;
  padding: 3rem;
}
.containerItemsProjects .cardsProject .cardImage{
  width: 45%;
  height: 390px;
  background-color: var(--color-background-secundary-div);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerItemsProjects .cardsProject .cardImage p{
  font-size: 2rem;
  color: var(--color-text);
}

.containerProjects .letGo{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-gradient);
}
.containerProjects .letGo .text{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0rem 3rem 0rem;
}
.containerProjects .letGo .text > h2{
  font-size: 3rem;
  color: white;
  font-weight: 800;
}
.containerProjects .letGo .text > button{
  font-size: 16px;
  padding: 16px 48px;
  border-radius: 5px;
  border-color: white;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 3rem;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.containerProjects .letGo .text > button:hover{
  background-color: white;
  color: var(--bs-black);
}




/*SECTION PAGE CONTACT*/
.containerContact {
  width: 100%;
  height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerContact .containerForm{
  width: 65%;
  height: auto;
  background-color: var(--color-background-div);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerContact .containerForm .iconEmail{
  width: 3rem;
  height: 3rem;
  background: var(--background-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.containerContact .containerForm .textForm { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.containerContact .containerForm .textForm .iconEmail > i{
  font-size: 1.5rem;
  color: white;
}
.containerContact .containerForm .textForm > h1{
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--color-titles-text);
  margin-bottom: 1rem;
}
.containerContact .containerForm .textForm > p{
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-primary-text);
}

.containerContact .containerForm form{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
}











/* FOOTER */

footer{
  width: 100%;
  height: 50px;
  font-size: 0.9rem;
  color: var(--bs-dark);
  font-family: var(--fonts-family);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .containerFooter{
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#sectionFooter{
  width: 100%;
  margin: 0;
  padding: 0;
}